---
import "../../styles/global.css"
import Footer from "../../components/Layout/Footer.astro";
import Header from "../../components/Layout/Header.astro";
import TextHero from "../../components/Sections/TextHero.astro";
import Card from "../../components/UI/Card.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
    <Header />
    <body>
        <div class="page-grid">
            <TextHero
                headline="Applications"
                subheadline="We can provide experienced operators — fully qualified with WJA — for offshore, onshore and overseas workscope. This is particularly beneficial for ensuring product optimisation."
            />

            <div class="section__applications">
                <div class="section__applications-cards">
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/applications-detail"
                        buttonLabel="Surface Preparation"
                        icon={true}
                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}

                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}
                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}
                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}
                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}
                    />
                    <Card
                        imageURL="/src/assets/New_Image_Magtrack-lrg.jpeg"
                        imageAlt="MagTrack unit removing paint from the side of a ship's hull"
                        href="/sales"
                        buttonLabel="Sales"
                        icon={true}
                    />        
                </div>
            </div>
        </div>
    </body>
    <Footer />
</BaseLayout>

    <style>
        .section__applications {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 2 / -2;
            margin-bottom: 7.75rem;
        }

        .section__applications-cards {
            display: grid;
            grid-template-columns: 1fr;
            grid-column: 2 / -2;

            gap: 2rem;
        }

	@media screen and (min-width: 768px) {
         .section__applications {
            display: grid;
            grid-template-columns:1fr;
            grid-column: 2 / -2;
            margin-bottom: 7.75rem;
        }

        .section__applications-cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;
        }
    }

       

    </style>
</html>
